#refreshbtn{
    background-color: black;
    color: white;
    border: none;
    width:100px;
    margin-bottom: 10px;
}
.btndiv #editbtn{

    background-color: grey;
    color: white;
}
.btndiv #deletebtn{

    background-color: red;
    color: white;
}